table.postings-table {
	table-layout: fixed;
	border-collapse: collapse;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    border: 1px solid black;
}

th, td {
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
	border: 1px solid black;
}

th {
	background-color: #E3E3E4;
	font:bold;
}
th.center-align {
    text-align: center;
}

th.date-col {
	width: 80px;
}

th.datetime-col {
    width: 120px;
}

th.distance-col {
    width: 75px;
}

tr:nth-child(4n+4), tr:nth-child(4n+5) {
    background-color: #f7f8f9;
}

td.right-align {
    text-align: right;
}

td.post-elem {
    border-bottom-width: 2px;	
}

td.snip {
	border: 0px;
}
.label {
    color: black; 
    font-weight: bold;
    font-variant: small-caps;
}

div.orig_elem {
    border-width: 2px;
    border-style: solid;
    font-family: monospace;
    white-space: pre;
}

#id_company, #id_insertedDateStart_month, #id_postedDateStart_month, #id_postedDateEnd_month, #id_location, #id_sort_by {
	position: absolute;
	left: 150px;
}

#id_insertedDateStart_day, #id_postedDateStart_day, #id_postedDateEnd_day {
    position: absolute;
    left: 239px;
}

#id_insertedDateStart_year, #id_postedDateStart_year, #id_postedDateEnd_year {
    position: absolute;
    left: 279px;
}	