{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'jobsearch/style.css' %}" />
{% if latest_jobs_posted_list %}
<table class='postings-table'>
    <tr>
        <th>Title</th>
        <th class='datetime-col'>Date Posted</th>
        <th class='datetime-col'>Date Inserted</th>
        <th>Company</th>
        <th>Location</th>
        <th class="distance-col">Distance From Home</th>
    </tr>
    {% for posting in latest_jobs_posted_list %}
    <tr> 
        <td><a href="/jobsearch/{{ posting.identifier }}/">{{ posting.title }}</a></td>
        <td class='datetime-col'>{{ posting.posted_date|date:'Y-m-d H:i' }}</td>
        <td class='datetime-col'>{{ posting.inserted_date|date:'Y-m-d H:i' }}</td>
        <td>{{ posting.company }}</td>
        <td>{{ posting.locale }}</td>
        <td class='right-align'>{{ posting.distance_from_home }}</td>
    </tr>
<!--    <tr>-->
<!--    	<td colspan=6 class='post-elem'>{{ posting.element_html|safe  }}</td>-->
<!--    </tr>-->
    {% endfor %}
</table>   
{% else %}
    <p>No job postings are available.</p>
{% endif %}

<hr>
<h2>Filter</h2>
<form action="/jobsearch/" method="post">
{% csrf_token %}
{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
    {{ search_form.as_p }}
    <input type="submit" value="Submit" />
</form>

<hr>

<form action="/jobsearch/import/" method="post">
{% csrf_token %}
    <input type="submit" value="Import" />
</form>

<!--<form action="/jobsearch/gov_b_s/" method="post">-->
<!--{% csrf_token %}-->
<!--    <input type="submit" value="Government BuyAndSell" />-->
<!--</form>-->

<a href="/jobsearch/recruiters/">Recruiters</a>