{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'jobsearch/style.css' %}" />
{% if latest_jobposted_list %}
<table class='postings-table'>
    <tr>
        <th>Title</th>
        <th class='date-col'>Date Posted</th>
        <th class='datetime-col'>Date Inserted</th>
        <th>Company</th>
        <th>Location</th>
        <th>Distance From Home</th>
    </tr>
    {% for posting in latest_jobposted_list %}
    <tr> 
        <td><a href="/jobsearch/{{ posting.identifier }}/">{{ posting.title }}</a></td>
        <td>{{ posting.posteddate|date:'Y-m-d' }}</td>
        <td class='datetime-col'>{{ posting.inserteddate|date:'Y-m-d H:i' }}</td>
        <td>{{ posting.company }}</td>
        <td>{{ posting.locale }}</td>
        <td class='right-align'>{{ posting.distance_from_home }}</td>
    </tr>
    <tr>
    	<td colspan=6 class='post-elem'>{{ posting.elementhtml|safe  }}</td>
    </tr>
    {% endfor %}
</table>   
{% else %}
    <p>No job postings are available.</p>
{% endif %}

<hr>

<form action="/jobsearch/" method="post">
{% csrf_token %}
{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
    {{ search_form.as_p }}
    <input type="submit" value="Submit" />
</form>

<hr>

<form action="/jobsearch/import/" method="post">
{% csrf_token %}
    <input type="submit" value="Import" />
</form>

<form action="/jobsearch/gov_b_s/" method="post">
{% csrf_token %}
    <input type="submit" value="Government BuyAndSell" />
</form>

